:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 100vw;
  height: 0vh;
  position: absolute;
  background-color: black;
  opacity: 0;
  z-index: 10;
  position: fixed;
  transition: opacity 0.5s ease-in-out;
}

.modal {
  width: 50rem;
  height: 65rem;
  position: relative;
  position: absolute;
  position: fixed;
  background-color: white;
  border-radius: 20px;
  transition: all 0.5s ease-out;
  margin-top: -150%;
  padding: 25px 25px;
  z-index: 15;
}
.modal .close-btn-wrapper {
  width: 30px;
  height: 30px;
  position: relative;
  position: absolute;
  right: 20px;
  z-index: 20;
  cursor: pointer;
}
.modal .close-btn-wrapper .btn-line {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: black;
  position: absolute;
  rotate: 45deg;
  translate: 0 12px;
}
.modal .close-btn-wrapper .btn-line::before {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: black;
  position: absolute;
  rotate: -90deg;
}
.modal .img-wrapper {
  width: 30rem;
  height: 20rem;
  position: relative;
  position: absolute;
  background-position: center;
  background-size: cover;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 19;
  border-radius: 20px;
}
.modal .name,
.modal .origin,
.modal .prep {
  position: absolute;
  font-size: 3rem;
  left: 0;
  right: 0;
  margin: 20rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #56a5eb;
  text-align: center;
}
.modal .origin {
  margin-top: 30rem;
}
.modal .prep {
  font-size: 1.7rem;
  margin: 35rem 25px 0 25px;
  height: 21.5rem;
  overflow: auto;
}
.modal .watch {
  position: absolute;
  bottom: 25px;
  width: 15rem;
  height: 2.5rem;
  border-radius: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #ecf5ff;
  border: 0;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.container .container-heading {
  width: 100%;
  height: 40%;
  border-radius: 20px;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  position: relative;
  position: absolute;
  top: 2rem;
}
.container .container-heading input {
  width: 300px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  color: #333;
  border: 1px solid black;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 5rem auto;
}
.container .container-heading .btn,
.container .container-heading .try-again {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  border: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 15rem auto;
  font-size: 2rem;
  color: rgb(80, 79, 79);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}
.container .container-heading .try-again {
  margin: 20rem auto;
}
.container .container-heading .btn:hover,
.container .container-heading .try-again:hover,
.container .container-heading .watch:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
.container .container-heading .btn[disabled]:hover,
.container .container-heading .try-again[disabled]:hover {
  cursor: not-allowed;
  transform: none;
}

.recepie-list {
  width: 870px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 35rem auto;
}
.recepie-list .recepie-wrapper {
  display: block;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  float: left;
  margin: 20px 20px 15rem 20px;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
}
.recepie-list .recepie-wrapper .meal-name {
  font-size: 2.5rem;
  margin-top: 255px;
  color: #56a5eb;
}
.recepie-list .recepie-wrapper .read-more {
  position: absolute;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 35rem;
  width: 150px;
  border: 0;
  background-color: #56a5eb;
  color: #ecf5ff;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */