:root {
  font-size: 62.5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100rem;
}

header {
  width: 100%;
  height: 11rem;
  background-color: gray;
  position: relative;
}
header .gray-wrapper {
  width: 100%;
  height: 7rem;
  position: relative;
  display: flex;
  align-items: center;
}
header .gray-wrapper .logo-wrapper {
  width: 15rem;
  height: 5rem;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  margin-left: 10rem;
}
header .gray-wrapper .logo-wrapper .logo {
  width: 33.3333333333%;
  height: 100%;
}
header .gray-wrapper .logo-wrapper .books {
  margin-left: 1.5rem;
  font-size: 2.5rem;
  color: orange;
}
header .gray-wrapper input {
  position: absolute;
  right: 0;
  margin-right: 10rem;
}
header nav {
  position: relative;
  position: absolute;
  width: 100%;
  height: 4rem;
  background-color: white;
  bottom: 0;
}
header nav .main-nav {
  width: 40%;
  height: 100%;
  margin-left: 10rem;
  display: flex;
  align-items: center;
}
header nav .main-nav .home,
header nav .main-nav .books {
  cursor: pointer;
  width: 70px;
  border-radius: 20px;
  height: 90%;
  margin-right: 1rem;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
header nav .main-nav .home:hover,
header nav .main-nav .books:hover {
  background-color: #808080;
}
header nav .main-nav .books {
  color: orange;
}

.main-section {
  width: 100%;
  position: relative;
  background-color: rgb(253, 242, 229);
  height: auto;
  min-height: 100rem;
}
.main-section .container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.main-section .container .genre-heading {
  position: absolute;
  font-size: 1.7rem;
  top: 3rem;
  left: 0;
}
@media screen and (min-width: 1366px) {
  .main-section .container .genre-heading {
    left: -24%;
    top: 4rem;
  }
}
.main-section .container .orange-border,
.main-section .container .orange-border--genre {
  width: 100%;
  height: 3px;
  background-color: orange;
  position: absolute;
  border-radius: 5px;
  top: 5.5rem;
}
@media screen and (min-width: 1366px) {
  .main-section .container .orange-border--genre {
    left: -24.5%;
    top: 6.5rem;
    width: 100%;
  }
}
.main-section .container .genre-list {
  position: absolute;
  width: 100%;
  height: 10rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  overflow: auto;
  list-style-type: none;
}
@media screen and (min-width: 1366px) {
  .main-section .container .genre-list {
    width: 20rem;
    height: 40rem;
    left: -125%;
    flex-direction: column;
    top: 5rem;
  }
}
.main-section .container .genre-list .genre-wrapper {
  float: left;
  position: relative;
  width: auto;
  height: 5rem;
  border: 1px solid black;
  padding: 0 0.5rem;
  border-radius: 20px;
  margin-right: 1rem;
  background-color: rgb(253, 229, 201);
  margin-top: 3rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 1366px) {
  .main-section .container .genre-list .genre-wrapper {
    width: 100%;
    margin-right: 0;
  }
}
.main-section .container .genre-list .genre-wrapper .genre-text {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
}
@media screen and (min-width: 1366px) {
  .main-section .container .genre-list .genre-wrapper .genre-text {
    white-space: normal;
    text-align: center;
  }
}
.main-section .container .genre-list .genre-wrapper:hover {
  background-color: rgb(190, 190, 190);
}
.main-section .container .available-books-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  margin-top: 20rem;
  position: relative;
}
@media screen and (min-width: 1366px) {
  .main-section .container .available-books-wrapper {
    margin-top: 4rem;
  }
}
.main-section .container .available-books-wrapper .heading {
  font-size: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.main-section .container .available-books-wrapper .orange-border {
  width: 100%;
  height: 3px;
  background-color: orange;
  position: absolute;
  border-radius: 5px;
  top: 2.5rem;
}
.main-section .container .available-books-wrapper .book-wrapper {
  width: 20rem;
  height: 40rem;
  border: 1px solid black;
  display: block;
  float: left;
  margin: 5rem 1rem 0 1rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.main-section .container .available-books-wrapper .book-wrapper .img-wrapper {
  width: 100%;
  height: 75%;
  border-bottom: 1px solid black;
  background-position: center;
  background-size: cover;
}
.main-section .container .available-books-wrapper .book-wrapper .title {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1.2rem;
}
.main-section .container .available-books-wrapper .book-wrapper .bottom-wrapper {
  position: relative;
  position: absolute;
  width: 100%;
  height: 2.7rem;
  bottom: 0;
  border-top: 1px solid black;
}
.main-section .container .available-books-wrapper .book-wrapper .bottom-wrapper .price-wrapper {
  width: 70%;
  height: 100%;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}
.main-section .container .available-books-wrapper .book-wrapper .bottom-wrapper .icon-wrapper {
  position: relative;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main-section .container .available-books-wrapper .book-wrapper .bottom-wrapper .icon-wrapper .icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
}/*# sourceMappingURL=allBooksPage.css.map */