:root {
    background-color: rgb(253, 242, 229);
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 159, 49);

    .heading {
        font-size: 3rem;
        color: rgb(87, 87, 87);
    }
}

.container {
    width: 100vw;
    height: 100vh;
    max-width: 60rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto; 

    .left-valute-wrapper,
    .right-valute-wrapper {
        position: relative;
        position: absolute;
        display: flex;
        justify-content: center;
        width: 15rem;
        height: 5rem;
        margin: 2.5rem;
        margin-top: 4rem;
        border-radius: 20px;
        background-color: rgb(243, 159, 49);
        top: 0;
        
        .current-value-left,
        .current-value-right {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(87, 87, 87);
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
        }

        .left-valute-list,
        .right-valute-list {
            width: 75%;
            height: 0;
            border-top: 1px solid rgb(253, 242, 229);
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: rgb(243, 159, 49);
            position: absolute;
            top: 100%;
            list-style: none;
            overflow: auto;
            transition: all .3s ease-in;

            .valute,
            .valute--right {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 3.5rem;
                border-bottom: 1px solid rgb(253, 242, 229);
                font-size: 1.5rem;
                color: rgb(87, 87, 87);
            }
        }
    }
        
    .left-valute-wrapper { 
        left: 0;
    }

    .right-valute-wrapper {
        right: 0;
    }

}